
.DS_Store
/script/__pycache__
/script/figlib/__pycache__
/script/regrid-dev/methods/__pycache__
/script/regrid/__pycache__
/script/custom/__pycache__
/script/regrid-dev/__pycache__
/script/regrid/methods/__pycache__

script/Evapotranspiration_sim_CoLM2024_f_fevpa.nc
script/Evapotranspiration_ref_ET_Xu_etal_2024_ET.nc
单位转换.pdf
/data
/output
/.cursor
/preprocessing/get_cama_ready/data_for_wse
/preprocessing/get_cama_ready/logs
*.pyc
*.f90
preprocessing/get_cama_ready/AllocateVS copy 2.py
preprocessing/get_cama_ready/AllocateVS copy.py
preprocessing/get_cama_ready/out/altimetry_glb_15min_20250422.txt
preprocessing/get_cama_ready/out/altimetry_glb_15min_20250423.txt
preprocessing/get_cama_ready/out/cama_data_s30e010.nc
preprocessing/get_cama_ready/out/cama_data_s30w050.nc
preprocessing/get_cama_ready/s01-allocate_VS.sh
preprocessing/get_cama_ready/out/altimetry_glb_15min_20250424.txt
preprocessing/get_cama_ready/AllocateVS-ERR.py
preprocessing/get_cama_ready/allocate_VS
/preprocessing/get_stn_cama_ready/Water Surface Elevation/bk-unupload
/preprocessing/get_stn_cama_ready/Water Surface Elevation/data_for_wse/cama_map-bk
/preprocessing/get_stn_cama_ready/Water Surface Elevation/data_for_wse
/preprocessing/get_stn_cama_ready/Water Surface Elevation/logs
/preprocessing/get_stn_cama_ready/Water Surface Elevation/out
preprocessing/get_stn_cama_ready/Water Surface Elevation/tmp.txt
/preprocessing/get_stn_cama_ready/Water_Surface_Elevation/data_for_wse
/preprocessing/get_stn_cama_ready/Water_Surface_Elevation/out
/preprocessing/get_stn_cama_ready/Water_Surface_Elevation/logs
/preprocessing/get_stn_cama_ready/Water_Surface_Elevation/bk-unupload
preprocessing/get_stn_cama_ready/Water_Surface_Elevation/tmp.txt
CLAUDE.md
*.log

AGENTS.md
openbench/data/custom/PLUMBER2S_README.md
/courseware
/dataset/Reference/Grid
/dataset/Reference/Station
/dataset/Simulation/FUXI
/dataset/Simulation/GRFR-US_06min
/dataset/Simulation/TabPFN-US_06min-dam
/dataset/Simulation/TabPFN-US_06min-nodam
nml/nml-json/main-Practice.json
nml/nml-json/ref-Practice.json
nml/nml-json/sim-Practice.json
nml/nml-json/user/Practice/grid_case.json
/dataset/Simulation
